<h1>Showing selected article</h1>

<p>
Title: <%= @aticle.title %>
</p>
<p>
Description: <%= @aticle.description %>
</p>

<%= link_to "Edit this article", edit_aticle_path(@aticle) %> |
<%= link_to "Back to articles listing", aticles_path %>